:host {
    display: flex;
    flex-direction: column;
    gap: var(--bc-gap-8);
    width: 100%;
    height: 100%;

    .skills-container {
        position: relative;
        transition: width var(--bc-transition-duration-default), height var(--bc-transition-duration-default);
        align-self: center;
        width: 100%;
        max-width: 500px;
        aspect-ratio: 1 / 1;

        .skill {
            transition: background-color var(--bc-transition-duration-default);
            cursor: pointer;

            &:hover {
                background-color: var(--bc-bg-skill-tags-color);
            }
        }
    }

    .magic-button {
        background: var(--bc-bg-skill-tags-color);
        animation: magic-combined 2s infinite;
        transition: all 2s ease;
        will-change: transform;

        @media (hover: hover) {
            &:hover {
                animation: none;
                transform: rotate(0) scale(1.05);
            }
        }
    }

    @keyframes magic-combined {
        0% {
            transform: rotate(0) scale(1);
        }
        30% {
            transform: rotate(0) scale(1);
        }
        40% {
            transform: rotate(10deg) scale(1.1);
        }
        50% {
            transform: rotate(-5deg) scale(1.07);
        }
        70% {
            transform: rotate(-10deg) scale(1.05);
        }
        80% {
            transform: rotate(0) scale(1.1);
        }
        100% {
            transform: rotate(0) scale(1);
        }
    }
}
