.bc-cursor-auto {
    cursor: auto;
}

.bc-cursor-default {
    cursor: default;
}

.bc-cursor-pointer {
    cursor: pointer;
}

.bc-cursor-wait {
    cursor: wait;
}

.bc-cursor-text {
    cursor: text;
}

.bc-cursor-move {
    cursor: move;
}

.bc-cursor-help {
    cursor: help;
}

.bc-cursor-not-allowed {
    cursor: not-allowed;
}
