:host {
    display: flex;
    width: 100%;

    .statistic-icon {
        width: 30px;
        min-width: 30px;
        height: 30px;
        max-height: 30px;
    }

    .read-more-button {
        --left-padding: var(--bc-padding-24);

        position: relative;
        left: calc(var(--left-padding) * -1);
        background: linear-gradient(to right, transparent 0%, var(--bc-bg-light-color) var(--left-padding), var(--bc-bg-light-color) 100%);
        border: none;
        padding: 0 0 0 var(--left-padding);
    }
}
