.bc-whitespace-normal {
    white-space: normal;
}

.bc-whitespace-nowrap {
    white-space: nowrap;
}

.bc-whitespace-pre {
    white-space: pre;
}

.bc-whitespace-pre-line {
    white-space: pre-line;
}

.bc-whitespace-pre-wrap {
    white-space: pre-wrap;
}

.bc-whitespace-break-spaces {
    white-space: break-spaces;
}
