<aside class="image-viewer-wrapper">
    <div class="switch-button left"><</div>
    <div class="switch-button right">></div>
    <div
        class="image-viewer"
        #imageViewer
    >
        <div
            class="close-button bc-flex bc-items-center bc-justify-end bc-w-full bc-h-fit bc-text-34"
            role="button"
            (click)="closeModal()"
            (keydown.enter)="closeModal()"
            tabindex="0"
        >✖
        </div>
        <div class="media-container bc-flex bc-gap-12">
            @for (mediaItem of config.media; track mediaItem.photoUrl) {
                @if (Math.abs($index - selectedMediaIndex) < 2) {
                    <img
                        class="media"
                        [class.active]="$index === selectedMediaIndex"
                        [class.left]="$index < selectedMediaIndex"
                        [class.right]="$index > selectedMediaIndex"
                        [src]="mediaItem.photoUrl"
                        alt="Some media"
                    >
                }
            }

            <bc-tag
                class="selected-index bc-self-center bc-font-patua-one"
                #selectedIndex
            >
                {{selectedMediaIndex + 1}} of {{config.media.length}}
            </bc-tag>
        </div>
    </div>
</aside>
