<aside
    class="image-viewer-wrapper"
    cdkTrapFocus
    [cdkTrapFocusAutoCapture]="true"
>
    @if (selectedMediaIndex > 0) {
        <div
            class="switch-button left"
            (click)="switchMedia('left')"
            role="button"
            tabindex="0"
        >
            <
        </div>
    }

    @if (selectedMediaIndex < config.media.length - 1) {
        <div
            class="switch-button right"
            (click)="switchMedia('right')"
            role="button"
            tabindex="0"
        >
            >
        </div>
    }

    <div class="image-viewer">
        <div class="bc-flex bc-items-center bc-justify-end bc-w-full">
            <div
                class="close-button bc-flex bc-items-center bc-h-fit bc-text-34"
                role="button"
                (click)="closeViewer(); $event.stopPropagation()"
                (keydown.enter)="closeViewer()"
                tabindex="0"
            >✖
            </div>
        </div>
        <div class="media-container bc-flex bc-gap-12">
            @for (mediaItem of config.media; track mediaItem.photoUrl) {
                @if (Math.abs($index - selectedMediaIndex) < 2) {
                    <img
                        class="media"
                        [class.active]="$index === selectedMediaIndex"
                        [class.left]="$index < selectedMediaIndex"
                        [class.right]="$index > selectedMediaIndex"
                        [style.transform]="$index === selectedMediaIndex ?
                         'translate(' + moveDeltaX() + 'px, ' + moveDeltaY() / 2 + 'px)' : null"
                        [src]="mediaItem.photoUrl"
                        alt="Some media"
                    >
                }
            }

            <bc-tag
                class="selected-index bc-self-center bc-font-patua-one"
                #selectedIndex
            >
                {{ selectedMediaIndex + 1 }} of {{ config.media.length }}
            </bc-tag>
        </div>
    </div>
</aside>
